/*-----BATC Web essentials------*/

/*==============GENERAl==============*/

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
#hr {
    background-color: #808080;
    height:2px;
}

#blog_hr {
  background-color: #808080;
  height:2px;
  width:100%;
  margin-top: 0px;

}
/*==============GLOBAL==============*/

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

/*==============NAV==================*/

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: black;
  opacity: 0.8;
}

.navbar ul li {
  float: left;
  font-family: "Raleway", sans-serif;
}

.navbar .login ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li a {
  display: block;
  color: #808080;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: white;
}

/*==============HERO================*/

#hero {
  background-image: url("../img/graveyard_small.jpg"); center no-repeat
  width: 100%;
  height: 780px;
  margin-top: -10px;
}

h1 {
  color: white;
  padding: 100px; 0 0 0;
  text-align:center;
}

.search form {
  margin: auto;
  width: 250px;
}

/*==============ABOUT HERO==============*/

#about_hero {
  background-image: url("../img/about.jpeg");
  width: 100%;
  height: 400px;
  background-position:center;
  background-size: cover;
  margin-top: 0px;
}

/*===============BLOG HERO==============*/

#blog_hero {
  background-image: url("../img/letters.jpeg");
  width: 100%;
  height: 400px;
  background-position:center;
  background-size: cover;
  margin-top: 0px;
}

#contact_hero {
  background-image: url("../img/contact.jpeg");
  width: 100%;
  height: 400px;
  background-position:center;
  background-size: cover;
  margin-top: 0px;
}

/*=============FAQ HERO=================*/

#FAQ_hero {
  background-image: url("../img/faq.jpeg");
  width: 100%;
  height: 400px;
  background-position:center;
  background-size: cover;
  margin-top: 0px;
}
/*=============DESCRIPTION===========*/

#description {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#description h2 {
  text-align: center;
}

#description > h3 {
  padding-top: 20px;
}

/*=============ABOUT DESCRIPTION===========*/

#indent {
  margin-left:10px;
}

#team {
  width:90%;
  margin: auto;
}
#team h2 {
  text-align: center;
}

.profile {
  padding: 20px 0px 40px 0px;

  width: 70%;
  margin:auto;
}

.profile img {
  float: left;
  padding-right: 40px;
}

.profile h3, .profile p {
  margin-top: 0;

}

/*=============BLOG POSTS=============*/


.blog_post {
  border: 2px solid black;
  height: 300px;
}


.post {
  width: 70%;
  display:inline-block;
  margin-left: 10px;
  clear:both;
}

.blog_post > img {
  float: left;
  padding: 10px;
}

.blog_post h3,  {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.blog_post h5 {
  display: inline-block;
  padding: 0px 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.blog_post p {
  font-size: 15px;
  padding-bottom:none;
}

/*=============CONTACT DESCRIPTION===============*/

#contact_description  {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/*==============CONTACT MESSAGE===============*/

#feedback {
  width: 80%;
  margin: auto;
  text-align: center;
}
.feedback {
  margin: auto;
  width:60%;
  text-align: center;
}

.feedback #left {
  padding-right: 100px;
}

.feedback input[type="text"] ,
.feedback input[type="number"] ,
.feedback input[type="email"] {
  text-align: center;
}

span {
  margin-left:20px;
}
#feedback input[type="textarea"] {
  width: 80%;
  height: 200px;
}

#feedback input[type="button"] {
  width: 200px;
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 100;
  padding: 10px;
}

#feedback input[type="button"]:hover {
  background: #808080;
}


/*=============CLASSES==============*/

#classes {
  width: 960px;
  margin: auto;
}

.w3-card-2 {
  width: 400px;
  height: 500px;
  margin: 15px 40px;
  padding: 15px 15px;
}

#classes img {
  width: 100%;
}

/*=============MODAL===============*/

.modalDialog {
  position: fixed;
  font-family: "Raleway", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  background: white;
}

.close {
  background: #606061;
  color:#fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #808080;
}

/*==============FORMS=============*/

.login {
  font-family: "Raleway", sans-serif;
  width: 500px;
  padding: 30px;
  background: #fff;
  margin: 50px auto;
}

.login h2 {
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px "Raleway", sans-serif;
  height: 45px;
}

.login input[type="submit"],
.login input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #4d4d4d;
  color: white;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
}

.login input[type="submit"],
.login input[type="button"]:hover{
  background: #808080;
}

.search input[type="search"] {
  color: white;
  text-align: center;
  background-image: url(../img/search_icon.png);
  background-position: 10px 20px;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: 300;
}

.search input[type="search"]:hover {
  background: rgba(255,255,255,.08);
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: black;
  opacity: 0.8;
}

footer ul li {
  float: left;
  font-family: "Raleway", sans-serif;
}

footer ul li a,
footer ul li {
  display: block;
  color: #808080;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}

/*===========FOOTER===========*/

footer {
  clear:both;
}
